.profile__avatar-plus-info {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 768px) {
  .profile__avatar-plus-info {
    flex-direction: column;
    align-items: center;
  }
}
